<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>Login.Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>Login.NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>Login.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>Login.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AircraftServlet</servlet-name>
        <servlet-class>Login.AircraftServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AircraftDeleteServlet</servlet-name>
        <servlet-class>Login.AircraftDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADelete</servlet-name>
        <servlet-class>Login.ADelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AUpdateServlet</servlet-name>
        <servlet-class>Login.AUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FDelete</servlet-name>
        <servlet-class>Login.FDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightServlet</servlet-name>
        <servlet-class>Login.FlightServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/NewServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AircraftServlet</servlet-name>
        <url-pattern>/AircraftServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AircraftDeleteServlet</servlet-name>
        <url-pattern>/AircraftDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADelete</servlet-name>
        <url-pattern>/ADelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AUpdateServlet</servlet-name>
        <url-pattern>/AUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FDelete</servlet-name>
        <url-pattern>/FDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightServlet</servlet-name>
        <url-pattern>/FlightServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
